# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
env/
venv/
.venv/

# Environment variables
.env

# IDE
.vscode/
.idea/

# Logs
*.log

# Python cache
.pytest_cache/
.mypy_cache/

# OS files
.DS_Store
Thumbs.db